.form {
  text-align: left;
}
.third-title {
  margin: 12px 0px 21px 0px;
}

.form-name__firstname {
  padding: 12px 16px;
  width: 192px;
  height: 47px;
  margin-right: 15px;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.form-name__email {
  padding: 12px 16px;
  width: 399px;
  height: 47px;
  margin-right: 15px;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.form-name__mobile {
  padding: 12px 16px;
  width: 234px;
  height: 47px;
  margin-right: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.form-name__zip {
  padding: 12px 16px;
  width: 151px;
  height: 47px;
  margin-right: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.second-next-button {
  margin-top: 20px;
}

.second-info {
  text-align: left;
  margin-top: 40px;
}

.no-border {
  text-decoration: none;
  color: #67a1e5;
}
a {
  color: #67a1e5;
}

.form-name__password {
  padding: 12px 16px;
  width: 399px;
  height: 47px;
  margin: 26px 0px 16px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.form-name__confirm-password {
  padding: 12px 16px;
  width: 399px;
  height: 47px;
  margin-right: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #989898;
  border: 1px solid #000000;
}

.error-response {
  margin-top: 20px;
  text-align: left;
  color: red;
}

.error-response-list {
  list-style-type: disc;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .form-name__confirm-password {
    margin: 0;
  }

  .error-response {
    text-align: center;
    margin-bottom: 40px;
  }
}

.third-info {
  width: 428px;
  font-size: 14px;
}

.copyrigth-footer {
  margin: 35px 60px 57px 41px;
}

@media (max-width: 375px) {
  .form-name__email {
    width: 70%;
  }
  .form-name__firstname {
    width: 70%;
  }
  .form-name__mobile {
    width: 70%;
    margin-bottom: 16px;
  }
  .form-name__zip {
    width: 70%;
  }
  .form-name__password {
    width: 70%;
  }
  .form-name__confirm-password {
    width: 70%;
  }
}
